{% extends "base.html" %}
{% block title %}商品{% endblock %}
{% block h1 %}商品{% endblock %}
{% block h2 %}商品{% endblock %}
{% block div %}
	<!--content-->
		<div class="product">
			<div class="container">
			<div class="col-md-9">
			<div class="mid-popular">
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>女士</span>
							<h6><a href="{% url 'detail' %}">绿色长袖衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc1.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>女士</span>
							<h6><a href="{% url 'detail' %}">粉色印花T恤</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc2.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>男士</span>
							<h6><a href="{% url 'detail' %}">蓝白黑格纹长袖衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
						<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc3.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>女士</span>
							<h6><a href="{% url 'detail' %}">红黑白七分袖衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc4.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>男士</span>
							<h6><a href="{% url 'detail' %}">红色印花短袖T恤</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc5.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>男士</span>
							<h6><a href="{% url 'detail' %}">红白长袖格子衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc6.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>女士</span>
							<h6><a href="{% url 'detail' %}">红白短袖格纹衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc7.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>男士</span>
							<h6><a href="{% url 'detail' %}">灰色条纹长袖衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4 item-grid1 simpleCart_shelfItem">
					<div class=" mid-pop">
					<div class="pro-img">
						<img src="/static/images/pc.jpg" class="img-responsive" alt="">
						<div class="zoom-icon ">
						<a class="picture" href="/static/images/pc.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
						<a href="{% url 'detail' %}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
						</div>
						</div>
						<div class="mid-1">
						<div class="women">
						<div class="women-top">
							<span>女士</span>
							<h6><a href="{% url 'detail' %}">绿色长袖衬衫</a></h6>
							</div>
							<div class="img item_add">
								<a href="#"><img src="/static/images/ca.png" alt=""></a>
							</div>
							<div class="clearfix"></div>
							</div>
							<div class="mid-2">
								<p ><label>100.00元</label><em class="item_price">70.00元</em></p>
								  <div class="block">
									<div class="starbox small ghosting"> </div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-3 product-bottom">
			<!--categories-->
				<div class=" rsidebar span_1_of_left">
						<h4 class="cate">分类</h4>
							 <ul class="menu-drop">
							<li class="item1"><a href="#">男士</a>
								<ul class="cute">
									<li class="subitem1"><a href="product.html">短袖衬衫</a></li>
									<li class="subitem2"><a href="product.html">长袖衬衫</a></li>
									<li class="subitem3"><a href="product.html">格纹衬衫</a></li>
								</ul>
							</li>
							<li class="item2"><a href="#">女士</a>
								<ul class="cute">
									<li class="subitem1"><a href="product.html">连衣裙</a></li>
									<li class="subitem2"><a href="product.html">吊带背心</a></li>
									<li class="subitem3"><a href="product.html">短袖T恤</a></li>
								</ul>
							</li>
							<li class="item3"><a href="#">童装</a>
								<ul class="cute">
									<li class="subitem1"><a href="product.html">可爱猫咪</a></li>
									<li class="subitem2"><a href="product.html">文字印花</a></li>
									<li class="subitem3"><a href="product.html">卡通图案</a></li>
								</ul>
							</li>
							<li class="item4"><a href="#">配饰</a>
								<ul class="cute">
									<li class="subitem1"><a href="product.html">手提包</a></li>
									<li class="subitem2"><a href="product.html">托特包</a></li>
									<li class="subitem3"><a href="product.html">珠宝首饰</a></li>
								</ul>
							</li>
									
							<li class="item4"><a href="#">鞋子</a>
								<ul class="cute">
									<li class="subitem1"><a href="product.html">过膝靴</a></li>
									<li class="subitem2"><a href="product.html">凯尔西短靴</a></li>
									<li class="subitem3"><a href="product.html">雪地靴</a></li>
								</ul>
							</li>
						</ul>
					</div>
				<!--initiate accordion-->
						<script type="text/javascript">
							$(function() {
							    var menu_ul = $('.menu-drop > li > ul'),
							           menu_a  = $('.menu-drop > li > a');
							    menu_ul.hide();
							    menu_a.click(function(e) {
							        e.preventDefault();
							        if(!$(this).hasClass('active')) {
							            menu_a.removeClass('active');
							            menu_ul.filter(':visible').slideUp('normal');
							            $(this).addClass('active').next().stop(true,true).slideDown('normal');
							        } else {
							            $(this).removeClass('active');
							            $(this).next().stop(true,true).slideUp('normal');
							        }
							    });
							
							});
						</script>
<!--//menu-->
 <section  class="sky-form">
					<h4 class="cate" style="font-size: 18px">折扣幅度</h4>
					 <div class="row row1 scroll-pane" style="margin-left: 25px; font-size: 12px">
						 <div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
						 </div>
						 <div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>其他(50)</label>
						 </div>
					 </div>
				 </section> 				 				 
				 
					
					 <!---->
					 <section  class="sky-form">
						<h4 class="cate" style="font-size: 18px">类型</h4>
							<div class="row row1 scroll-pane" style="margin-left: 25px; font-size: 12px">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>懒人沙发 (30)</label>
								</div>
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>包包 (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>帽子 (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>夹克 & 外套 (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>牛仔裤 (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>T恤 (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>墨镜 (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>泳衣 (30)</label>
								</div>
							</div>
				   </section>
				   		<section  class="sky-form">
						<h4 class="cate" style="font-size: 18px">品牌</h4>
							<div class="row row1 scroll-pane" style="margin-left: 25px; font-size: 12px">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>公路之星</label>
								</div>
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>李维斯</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>匡威</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>耐克</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>阿迪达斯</label>
									<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>纽巴伦</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>保罗史密斯</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>雷朋</label>
								</div>
							</div>
				   </section>		
		</div>

{% endblock %}