{% extends "base.html" %}
{% block title %}关于我们{% endblock %}

{% block h1 %}关于我们{% endblock %}
{% block h2 %}关于我们{% endblock %}
{% block div %}
			<div class="contact">
				<div class="contact-form" style="padding-bottom: 0px">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>公司简介</h3>
                        <div style="font-size: 14px">
                            <p>Bestseller设计和销售适合都市女性、男性、儿童及青少年的流行时装和饰品，旗下拥有VERO MODA, ONLY, VILA, Object, JACK & JONES, selected, tdk, PIECES, EXIT, Name It/Newborn, PH Industries 和 phink industries 等十二个品牌，在全世界27个国家设有1600多家直营店，目前有员工12，000人分布在29个国家的35个分支机构；另有近7000家加盟代理店在经营Bestseller品牌。
Bestseller没有自己的加工厂，我们与选定的供应商进行密切的合作，这些供应商主要分布在欧洲和亚洲；与此同时Bestseller有50多名设计师进行服装款式设计和流行趋势跟踪。
在中国，公司主要经营ONLY、Jack & Jones 、Vero Moda和Selected四个品牌，从1996年进入中国，公司成长迅速，目前已拥有近400家直营店和300多家代理店。</p>

                        </div>
					<h3>公司宗旨</h3>
                        <div style="font-size: 14px">
                            <p>每一个人都应该受到尊重。我们按照自己希望被对待的方式去对待他人，己所不欲，勿施于人。
在Bestseller，我们希望自己的产品在注重人文、环保的环境中，以规范健康的方式生产加工。我们也希望公司在业务发展的同时不忘回馈社会。因此我们在2002年整理制定了 “Bestseller行为准则”。
“Bestseller行为准则”并非是全新的理念，它是在我公司十大信条基础上衍生发展出来的。 我们衷心希望您可以通过了解我们的供应商，我们的员工以及我们的行为准则，进而加深对Bestseller的了解。我们所做的一切只为一个目的，就是尊重顾客，同时得到顾客的尊重。</p>
                        </div>
				</div>
				<div class="col-md-6 contact-left" style="color: #999">
					<h3>公司信条</h3>
                        <div style="font-size: 14px">
                            <p>BESTSELLER的信条：</p>
                            <ul style="line-height: 24px; font-size: 12px; padding-left: 20px">
                                <li>诚信 We are honest</li>
                                <li>勤奋 We are hardworking</li>
                                <li>忠诚 We are loyal</li>
                                <li>合作--合作使我们战胜一切 We are cooperative--together we are the best</li>
                                <li>商业思维 We are business minded</li>
                                <li>注重成效 We want to see results</li>
                                <li>去繁就简 We want simple solutions</li>
                                <li>不想当然 We do not take everything for granted</li>
                                <li>信守承诺 We always keep our promises</li>
                                <li>追求卓越 We want to be the best</li>
                            </ul>
                        </div>
				</div>
		</div>

	</div>

<!--//contact-->

{% endblock %}