{% extends "base.html" %}
{% block title %}联系我们{% endblock %}

{% block h1 %}联系我们{% endblock %}
{% block h2 %}联系我们{% endblock %}
{% block div %}
			<div class="contact">
				<div class="contact-form" style="padding-bottom: 0px">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>公司发展历史</h3>
                        <div style="font-size: 14px">
                            <p>Bestseller于1975年始建于丹麦，创始人为Troels Holch Povlsen.</p>
                            <p>Bestseller没有自己的加工厂，他们与选定的供应商进行密切的合作，这些供应商主要分布在欧洲和亚洲；与此同时Bestseller有50多名设计师进行服装款式设计和流行趋势跟踪。</p>
                            <p>在中国，1996年成立独资子公司—绫致时装公司，主要经营ONLY、Jack & Jones 和Vero Moda三个品牌，2008年，selected也进入中国，自此中国公司经营四个品牌。</p>
                        </div>
					<div class="address">
					<div class=" address-grid">
							<i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<h3>地址:</h3>
								<p>上海市黄浦区淮海中路8号兰生大厦24层</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
							<h3>电话:<h3>
								<p>(021)63191908</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
							<h3>邮件:</h3>
								<p><a href="mailto:info@example.com"> bestseller@bestseller.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-bell"></i>
							<div class="address1">
								<h3>营业时间:</h3>
								<p>周一至周日, 上午7点-晚上10点</p>
							</div>
							<div class="clearfix"> </div>
						</div>
</div>
				</div>
				<div class="col-md-6 contact-top">
					<h3>想加入我们吗?</h3>
					<form>
						<div>
							<span>您的姓名</span>
							<input type="text" value="" >
						</div>
						<div>
							<span>您的邮箱</span>
							<input type="text" value="" >
						</div>
						<div>
							<span>邮件主题</span>
							<input type="text" value="" >
						</div>
						<div>
							<span>邮件内容</span>
							<textarea></textarea>
						</div>
						<label class="hvr-skew-backward">
								<input type="submit" value="发送邮件" >
						</label>
</form>
				</div>
		</div>

	</div>

<!--//contact-->

{% endblock %}