{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block h1 %}登录{% endblock %}
{% block h2 %}登录{% endblock %}
{% block div %}
<!--login-->
<div class="container">
		<div class="login">
		
			<form action="/user/login_handle/" method="post">
                {% csrf_token %}
			<div class="col-md-6 login-do">
				<div class="login-mail">
					<input type="text" placeholder="请输入用户名" class="name_input" value="{{ uname }}" required="" name="username">
					<i  class="glyphicon glyphicon-envelope"></i>
{#                    <div class="user_error">输入错误</div>#}
				</div>
				<div class="login-mail">
					<input type="password" placeholder="请输入密码" class="pass_input" value="{{ upwd }}" required="" name="pwd">
					<i class="glyphicon glyphicon-lock"></i>
{#                    <div class="pwd_error">输入错误</div>#}
				</div>
				   <a class="news-letter " href="#" >
						 <label class="checkbox1"><input type="checkbox" name="jizhu" value="1" checked="checked" ><i> </i>记住用户名</label>
					   </a>
				<label class="hvr-skew-backward">
					<input type="submit" value="login">
				</label>
			</div>
			<div class="col-md-6 login-right">
				 <h3 style="font-size: 22px">免费注册</h3>
				 
				 <p style="font-size: 14px">当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。</p>

                <a href="{% url 'register' %}" class=" hvr-skew-backward">注册</a>

			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>

</div>

<!--//login-->
{% endblock %}