{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block h1 %}注册{% endblock %}
{% block h2 %}注册{% endblock %}
{% block div %}
<!--register-->
<div class="container">
		<div class="login">
			<form action="/user/register_handle/" method="post">
                {% csrf_token %}
			<div class="col-md-6 login-do">
			<div class="login-mail">
					<input type="text" placeholder="请输入您的姓名" required="" name="user_name" id="user_name">
					<i  class="glyphicon glyphicon-user"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="请输入您的手机号" required="" name="user_phone">
					<i  class="glyphicon glyphicon-phone"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="请输入您的邮箱" required="" name="user_email">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="请输入您的密码" required="" name="user_pwd">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				   <a class="news-letter " href="#">
						 <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>我同意《xxx用户使用协议》</label>
					   </a>
				<label class="hvr-skew-backward">
					<input type="submit" value="立即注册">
				</label>
			
			</div>
			<div class="col-md-6 login-right">
				 <h3 style="font-size: 22px">免费注册</h3>

				 <p style="font-size: 14px">当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。</p>

                <a href="{% url "login" %}" class="hvr-skew-backward">登录</a>

			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>

</div>
<!--//register-->

{% endblock %}