<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/base.css">
    <title>Title</title>
</head>
<body>
<div>
    <header>
        <div class="header-center">
            <div class="logo"><img src="../static/logo.png" alt=""></div>
            <div class="sections">
                <ul>
                    <li><a href="">首页</a></li>
                    <li><a href="">发现</a></li>
                    <li><a href="">话题</a></li>
                </ul></div>
            <div>
                <input type="text" placeholder="搜索你感兴趣的内容">
                <button>提问</button>
            </div>
            <div></div>
        </div>
    </header>
    hahah
</div>
</body>
</html>