* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 800px;
}

.one {
    margin: 0 auto;
    width: 100%;
    height: 370px;
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1528556716&di=642621d81647c70e1cc2a2d79fc02381&imgtype=jpg&src=http%3A%2F%2Fimg6.bdstatic.com%2Fimg%2Fimage%2Fpublic%2Fhanteng2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    position: relative;
}

.one input {
    padding-left: 30px;
    width: 420px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -364px;
}

.one .button {
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    background-color: #c7254e;
    border: 0;
    color: #ffffff;
    top: 50%;
    left: 57%;
    margin-top: -25px;
    margin-left: -60px;
}

.container-fluids {
    margin-bottom: 20px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #f9f2f4;
}

#viewall {
    color: #fff;
    background-color: #c7254e;
    border-color: #c7254e;
    margin-top: 50px;
}

.jobPanel {
    border: 1px solid #c7254e;
    position: relative;
    height: 425px;
    margin-right: 10px;
    margin-top: 10px;
}

.jobPanel:hover {
    border: 1px solid #c7254e;
    box-shadow: 3px 5px 3px #999999;
    position: relative;
    height: 425px;
    margin-right: 10px;
    margin-top: 10px;
}

.companyweb {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: #c7254e;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 90px;
    border: 2px solid #c7254e;
}

.companyweb a {
    text-decoration: none;
    color: #fff;
}

.companyweb a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

.companyweb:hover {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    color: #c7254e;
    border: 2px solid #c7254e;
    line-height: 50px;
    font-size: 18px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.companyweb:hover a {
    text-decoration: none;
    color: #c7254e;

}

imput {
    margin-top: 8px;
}

ul li {
    list-style: none;
}

.ellipsis {
    margin-right: 0;
    display: block;
    width: 320px;
    height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.job-apply {
    width: 180px;
    line-height: 30px;
    color: #fff;
    height: 30px;
    background-color: #2e6da4;
    border: 0;
}

.job-detail {
    padding: 10px 20px 0 30px;
    position: fixed;
    z-index: 1000;
    right: -600px;
    top: 100px;
    width: 600px;
    height: 600px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #c7254e;
}

.job-detail img {
    width: 63px;
    height: 63px;
    position: absolute;
    top: 28px;
    right: 24px;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
}

.mask h1, .mask h3 {
    color: #fff;
    text-align: center;
    margin-top: 90px;
}

.mask ul li {
    color: #fff;
    text-align: center;
    margin-top: 28px;
}

#job-detail .text .bolda {
    font-weight: 700;
}

#close {
    float: right;
    color: #000;
    width: 45px;
    font-size: 12px;
    height: 20px;
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 2222;
    background-color: #000;
}

#closeMask {
    text-align: center;
    float: right;
    color: red;
    line-height: 30px;
    width: 45px;
    font-size: 16px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5001;
    opacity: .8;
    background-color: #eeeeee;
}

.jp .row ul {
    margin-top: 20px;
}

.jp .row ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.jp .row ul li:first-of-type {
    font-weight: 700;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.footer {
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-color: #e7e7e7;
}

.footer-middle {
    background: #1F1F1F;
    padding: 4em 0;
}

.footer-middle-in h6 {
    font-size: 1.4em;
    color: #fff;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.footer-middle-in span {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
}

ul.in li {
    list-style: none;
}

ul.in li a {
    color: #B3B3B3;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0 0 0.5em;
    display: block;
}

ul.in li a:hover {
    color: #F67777;
}

.footer-middle-in input[type="text"] {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.7em 0;
    background: none;
    outline: none;
    border: 1px solid #B3B3B3;
    -webkit-appearance: none;
    font-size: 0.9em;
    color: #B3B3B3;
}

.footer-middle-in input[type="submit"] {
    width: 100%;
    font-size: 1em;
    background: #c7254e;
    padding: 0.5em 1em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.footer-bottom {
    background: #000;
    padding: 1em 0;
}

.footer-class {
    color: #fff;
    font-size: 1em;
    float: right;
}

